<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Manu Shirur">
        <meta name="description" content="Manu Shirur Portfolio">
        <meta name="keywords" content="Manu, Shirur, Profile, Portfolio">
        <title>My Space</title>
        <!-- Using favicon of size 32px * 32 px -->
        <link rel="icon" href="images/favicon.png">
        <!-- Using External Style Sheet-->
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    </head>
    <body>
        <noscript> 
            <p>This web page uses JavaScript. For proper results, 
                you must use a web browser with JavaScript enabled. 
            </p>
        </noscript>
        <header>
            <div class="header-content">
                <a id="logo" href="/">
                    <img src="images/logo.png" alt="logo"> 
                </a> 
                <h1>My _Space</h1> 
            </div>
        </header>
        <!-- Navigation bar -->
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li><a href="/interests">Interests</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        {{{body}}}
    </body>