<div class="flex-wrapper">
    <article>
        <section>
            <div class="container"> 
                <table>
                    <caption>Summer - Week at a Glance</caption>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>9:00 AM to 11:00 AM</th>
                            <td>Linux System Administration</td>
                            <td>Linux System Administration</td>
                            <td>Linux System Administration</td>
                            <td>Linux System Administration</td>
                            <td>Web Development Lectures</td>
                            <td>Web Development Assignment</td>
                            <td>Web Development Assignment</td>
                        </tr>
                        <tr>
                            <th>11:00 AM to 1:00 PM</th>
                            <td>GA Work</td>
                            <td>GA Work</td>
                            <td>GA Work</td>
                            <td>GA Work</td>
                            <td>GA Work</td>
                            <td>Web Development Assignment</td>
                            <td>Web Development Assignment</td>
                        </tr>
                        <tr>
                            <th>1:30 PM to 2:30 PM</th>
                            <td>GA Work</td>
                            <td>GA Work</td>
                            <td>GA Work</td>
                            <td>GA Work</td>
                            <td>GA Work</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>2:30 PM to 4:30 PM</th>
                            <td>Web Development Lectures</td>
                            <td>Web Development Lectures</td>
                            <td>Web Development Lectures</td>
                            <td>Web Development Lectures</td>
                            <td>Web Development Lectures</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </article>
    <footer id="main-footer" class="clr">
        <p>Copyright &copy;2020 Manu Shirur. Southern Illinois University, Carbondale</p>
        Reach out at <address>manu.shirurnagabhushana@siu.edu</address>
    </footer>
</div>

