<div class="flex-wrapper">
    <article>
        <section>
            <div class="container border-background"> 
                <h1 class="success">{{message}}</h1>
            </div>
        </section>
    </article>
    <footer id="main-footer" class="clr">
        <p>Copyright &copy;2020 Manu Shirur. Southern Illinois University, Carbondale</p>
        Reach out at <address>manu.shirurnagabhushana@siu.edu</address>
    </footer>
</div>
